.skill h1 {
  color: orange;
  font-family: "Dancing Script", cursive;
}
.font{
  font-family: "Dancing Script", cursive;

}
.orangeColor{
    color: orange;
}
.skill-card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.skill-card:hover{
  transform: scale(1.05);
  transition-duration: 1s;
  cursor: pointer;
}
.skill-img {
  width: 15vw;
  height: 15vw;
}
